# Test files
Strassen-Algorithm

# Non-source files
a.out
main
gen
test-plain
# data/dataset-5-1000*
data/dataset-5-2000*
data/dataset-5-4000*
data/dataset-5-8000*
data/dataset-5-16000*
data/dataset-5-32000*
data/dataset-5-64000*
# VS Code files
.vscode
