# Test files
Strassen-Algorithm
test.c
test2.c
time_dgemm.c
# Non-source files
a.out
main
gen
test-plain
test-improved
test-openblas
# data/dataset-5-1000*
data/dataset-5-2000*
data/dataset-5-4000*
data/dataset-5-8000*
data/dataset-5-16000*
data/dataset-5-32000*
data/dataset-5-64000*
# VS Code files
.vscode
